/* Full height and background setup */
.feed-page {
  height: calc(100vh - 150px);
  margin-top: 75px;
  position: relative;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

/* Title section with white background and rounded corners */
.feed-title {
  color: var(--color-background);
  padding: var(--spacing-medium);
  text-align: left;
  z-index: 2;
  position: relative;
  height: 100px;
}

/* Ensure the feed content takes up available space */
.feed-content {
  padding: var(--spacing-medium);
  background-color: var(--color-background);
  border-radius: 30px 30px 0 0;
  z-index: 1;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

/* Styling for h1 */
.feed-title h1 {
  margin: 0;
  font-size: var(--font-size-xxl);
  color: var(--color-background);
}

/* Event List Section - Horizontal Scroll */
.scroll-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: var(--spacing-small);
  scrollbar-width: thin;
  gap: var(--spacing-medium);
}

.scroll-container ul {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium); /* Space between event items */
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 2px;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: var(--border-radius-large);
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Event item styling */
.event-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spaced top to bottom */
  min-width: 250px;
  max-width: 300px;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow-light);
  margin-bottom: var(--spacing-small);
  transition: box-shadow var(--transition-duration) var(--transition-ease);
}

.event-item:hover {
  box-shadow: var(--box-shadow-heavy);
}

/* Event header (title, date, time) */
.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.event-title {
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin: 0;
  color: var(--color-text);
  flex-grow: 1;
}

.event-datetime {
  font-size: var(--font-size-small);
  text-align: right;
  color: var(--color-muted-text);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 75px;
}

/* Event details (type, distance, organizer, attendees) */
.event-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.event-type-distance {
  display: flex;
  flex-direction: column;
}

.event-type {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--color-primary);
}

.event-distance {
  font-size: var(--font-size-large);
  font-weight: bold;
}

.event-distance small {
  display: block;
  font-size: var(--font-size-small);
  color: var(--color-muted-text);
}

/* Attendees count styling */
.event-attendees {
  text-align: right;
  margin-bottom: auto;
}

.attendees-count {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  color: var(--color-primary);
}

/* Organizer section at the bottom */
.event-organizer {
  font-size: var(--font-size-small);
  color: var(--color-muted-text);
  text-align: left; /* Align text to the left */
}

/* No events styling */
.no-events {
  color: var(--color-muted-text);
  font-style: italic;
  margin-top: var(--spacing-large);
  text-align: center;
}

/* Button styling */
.see-all-events-btn {
  margin-top: var(--spacing-small);
  padding: var(--spacing-small);
  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-medium);
  transition: background-color var(--transition-duration) var(--transition-ease);
  max-width: 350px;
  min-width: 200px;
}

.SeeAllBtn{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.upcoming-runs {
  padding-bottom: 10px;
  margin-top: -20px;
}

/* Divider styling */
hr {
  margin: var(--spacing-large) 0;
  border: 0;
  height: 1px;
  background: var(--color-divider);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  h2 {
    font-size: var(--font-size-large);
  }

  .event-datetime {
    font-size: 10px;
  }

  .attendees-count {
    font-size: var(--font-size-large);
  }
}
