/* Main login container - centered and responsive */
.login-container {
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: var(--spacing-medium);
  border: 1px solid var(--color-divider);
  border-radius: var(--border-radius-large);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow-light);
  text-align: center;
  margin-top: 50px;
}

/* Welcome description */
.login-container .welcome-text {
  font-size: var(--font-size-medium);
  color: var(--color-text);
  margin-bottom: var(--spacing-medium);
  font-weight: 400;
  line-height: 1.5;
}

.login-container h1 {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-medium);
  font-weight: 600;
}

.login-container h2 {
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-medium);
  font-weight: 600;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-divider);
  font-size: var(--font-size-medium);
  box-shadow: inset var(--box-shadow-light);
  transition: border-color var(--transition-duration) var(--transition-ease);
}

/* Button styling */
.login-container button {
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-medium);
  transition: background-color var(--transition-duration), transform var(--transition-duration);
}

.login-container button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Link styling */
.login-container p {
  margin-top: var(--spacing-medium);
  font-size: var(--font-size-small);
}

.login-container p button {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: var(--font-size-small);
  padding: 0;
  text-decoration: underline;
}

.login-container p button:hover {
  color: #0056b3;
}

/* Success message styling */
.success-message {
  color: green;
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing-small);
}

/* Error message styling */
.error-message {
  color: red;
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-small);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .login-container {
    width: 90%;
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
  }
}
