/* Full height and background setup */
.members-page {
  height: calc(100vh - 150px); /* Full height minus some padding for navbars */
  margin-top: 75px;
  position: relative;
  background-color: #2979ff; /* Blue background */
  display: flex;
  flex-direction: column;
}

/* Title section with white background and rounded corners */
.members-title {
  color: black;
  padding: 25px;
  text-align: left;
  z-index: 2; /* Ensures it appears above the background */
  position: relative;
  height: 100px;
}

/* Ensure the members content takes up available space and stays at the bottom */
.members-content {
  padding: 25px 20px;
  background-color: white;
  border-radius: 30px 30px 0 0; /* Rounded top corners for continuity */
  z-index: 1; /* Slightly below the title */
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* This allows it to fill the available space */
  flex-direction: column;
  justify-content: space-between; /* Align content to the top and bottom */
  overflow-y: auto; /* Make the content scrollable if needed */
}

/* Styling for h1 */
.members-title h1 {
  margin: 0;
  font-size: 36px;
  color: white;
}

/* Error message styling */
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

/* No members message */
.no-members {
  color: #6c757d;
  font-style: italic;
}

/* Members list styling */
.members-list {
  list-style-type: none;
  padding: 0;
}

/* Individual member styling */
.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5fbff;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease;
  min-height: 150px;
}

.member-item:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Member Info styling */
.member-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

/* Username styling */
.member-username {
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
}

/* Brand and Distance styling */
.member-brand {
  margin-bottom: 40px;
  font-size: 0.9em;
  color: #333;
}

.member-distance {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

/* Profile Picture Placeholder styling */
.member-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
