/* Edit panel */
.edit-panel {
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
  height: calc(75% - 75px);
  background-color: var(--color-background);
  border-radius: 30px 30px 0 0;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow-light);
  z-index: 3;
  overflow-y: auto;
  animation-duration: var(--transition-duration);
  animation-fill-mode: forwards;
}

.slide-up {
  animation-name: slideUp;
}

.slide-down {
  animation-name: slideDown;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: var(--font-size-large);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  font-weight: bold;
  z-index: 10;
  transition: color var(--transition-duration) var(--transition-ease);
}

.close-button:hover {
  color: var(--color-secondary); /* Use secondary color for hover */
}

.edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 75px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-ease);
}

.overlay-hide {
  opacity: 0;
  pointer-events: none;
}
