/* Member details panel */
.member-details-panel {
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
  height: calc(75% - 75px);
  background-color: var(--color-background);
  border-radius: 30px 30px 0 0;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow-light);
  z-index: 3;
  overflow-y: auto;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Overlay to darken background */
.member-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 75px; /* Match the bottom of the overlay to the navigation bar */
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.overlay-hide {
  opacity: 0;
  pointer-events: none; /* Prevent interactions after hiding */
}

/* Slide up animation for opening the member details panel */
.slide-up {
  animation-name: slideUp;
}

/* Slide down animation for closing the member details panel */
.slide-down {
  animation-name: slideDown;
}

/* Animation for sliding the panel up */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Animation for sliding the panel down */
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* Profile Picture and Close Button */
.memberdetail-picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacing-medium);
}

.memberdetail-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.memberdetail-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 36px;
  height: 36px;
}

/* Member Username */
.member-username h2 {
  font-size: var(--font-size-xl);
  margin: 0;
  text-align: center;
  color: var(--color-text);
}

/* Rows for member details */
.member-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-medium);
}

.member-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.member-data p {
  font-size: var(--font-size-small);
  color: var(--color-muted-text);
  margin: 0;
}

.member-data h3 {
  font-size: var(--font-size-large);
  color: var(--color-text);
  margin: var(--spacing-small) 0 0 0;
}

/* Running Goals */
.member-goals {
  padding: var(--spacing-medium);
  text-align: center;
}

.member-goals p {
  font-size: var(--font-size-small);
  color: var(--color-muted-text);
}

.member-goals h3 {
  font-size: var(--font-size-large);
  color: var(--color-text);
}
