/* Top Navbar container */
.top-navbar {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-medium);
  height: 76px;
  background-color: var(--color-primary); /* Use primary color */
  font-family: 'Poppins', sans-serif; /* Poppins font for the navbar */
}

/* Logo Placeholder styling */
.logo-placeholder h1 {
  font-family: 'Audiowide', sans-serif; /* Use the chosen font */
  font-size: var(--font-size-xl);       /* Adjust the size as needed */
  color: #ffffff;
  font-style: italic;
}

/* Profile link styling */
.top-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.top-navbar ul li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: var(--spacing-medium);
}

.top-navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: var(--font-size-medium); /* Consistent font size */
  font-weight: 500;
  padding: var(--spacing-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-duration);
}

.top-navbar ul li a:hover {
  color: #e4e4e4; /* Slight color change on hover */
}

/* Profile picture (avatar) container in navbar */
.topnav-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Ensure the profile picture is round */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  font-size: 16px; /* Smaller font size for the emoji */
  color: white; /* Emoji color */
  transition: background-color var(--transition-duration);
}

/* Profile text styling */
.profile-text {
  font-size: var(--font-size-small); /* Consistent text size */
  margin-top: var(--spacing-small);
  color: #ffffff;
  font-weight: 400;
}

.topbarnav-avatar-emoji {
  font-size: 25px;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .topnav-profile-pic {
    width: 30px;
    height: 30px;
    font-size: 20px; /* Adjust emoji size for smaller screens */
  }

  .topbarnav-avatar-emoji {
    font-size: 25px;
  }
  
  .profile-text {
    font-size: var(--font-size-small);
  }
  
  .logo-placeholder h1 {
    font-size: var(--font-size-large); /* Responsive font */
  }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .topnav-profile-pic {
    width: 36px;
    height: 36px;
    font-size: 22px; /* Adjust emoji size for smaller screens */
  }

  .topbarnav-avatar-emoji {
    font-size: 25px;
  }
  
  .profile-text {
    font-size: var(--font-size-small);
  }
  
  .logo-placeholder h1 {
    font-size: var(--font-size-medium); /* Responsive font on mobile */
  }
}
