/* Top Navbar container */
.top-navbar {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center;
  padding: 10px 25px;
  height: 76px;
  background-color: #2979ff;
}

/* Logo Placeholder styling */
.logo-placeholder h1 {
  font-size: 16px;
  color: #ffffff;
}

/* Profile link styling */
.top-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-navbar ul li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center align items */
}

.top-navbar ul li a:hover {
  color: #e4e4e4;
}

/* Profile picture styling */
.profile-pic {
  width: 40px; /* Default size for larger screens */
  height: 40px; 
}

/* Profile text styling */
.profile-text {
  font-size: 12px; /* Smaller text below the image */
  margin-top: 5px; /* Small margin between the image and text */
  color: #ffffff;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .profile-pic {
    width: 30px; /* Slightly smaller on tablets */
    height: 30px;
  }
  
  .profile-text {
    font-size: 12px; /* Smaller text on tablets */
  }
  
  .logo-placeholder h1 {
    font-size: 16px; /* Smaller logo font */
  }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .profile-pic {
    width: 24px; /* Smaller on mobile phones */
    height: 24px;
  }
  
  .profile-text {
    font-size: 12px; /* Small text on mobile */
  }
  
  .logo-placeholder h1 {
    font-size: 16px; /* Even smaller logo font on mobile */
  }

}
